<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Lugares Interes</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <ion-accordion-group>
      <ion-accordion value="first">
        <ion-item slot="header" color="light">
          <ion-label>Alcaldia</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">
          <ion-card>
            <img alt="Silhouette of mountains" src="../../assets/icon/Alcaldia.jpg" />
            <ion-card-content>TELEFONO: 55651771</ion-card-content>
            <ion-card-content>CORREO: ALCALDIA@AGUACHICA-CESAR.GOV.CO.</ion-card-content>
            <ion-card-content>DIRECCION: CALLE 4 No 10-33</ion-card-content>
          </ion-card>
        </div>
        <div class="ion-padding" slot="content">
          <h1>PRINCIPALES SECRETARIAS</h1>
        </div>
        <div class="ion-padding" slot="content">
          <h2>Secretaría de Gobierno</h2>
          <b>Datos de interés:</b> Horarios de atención al público, ubicación de oficinas, y contactos de
          emergencia.
        </div>
        <div class="ion-padding" slot="content">
          <h2>Secretaría de Hacienda</h2>
          <b>Datos de interés:</b> Información sobre impuestos locales, fechas de vencimiento, y formas de pago.
        </div>
        <div class="ion-padding" slot="content">
          <h2>Secretaría de Planeación</h2>
          <b>Datos de interés:</b> Proyectos de desarrollo en curso, consultas públicas sobre planificación urbana, y
          documentos de planificación disponibles.
        </div>
        <div class="ion-padding" slot="content">
          <h2>Secretaría de Cultura y Deporte</h2>
          <b>Datos de interés:</b> Calendario de eventos culturales y deportivos, inscripciones a actividades
          recreativas, y ubicación de centros culturales.
        </div>
        <div class="ion-padding" slot="content">
          <h2>Secretaría de Salud</h2>
          <b>Datos de interés:</b> Horarios de atención médica, servicios disponibles, y campañas de salud pública.
        </div>
        <div class="ion-padding" slot="content">
          <h2>Secretaría de Tránsito y Transporte</h2>
          <b>Datos de interés:</b> Requisitos para obtener licencias de conducir, información sobre rutas de
          transporte público, y reglamentaciones de tráfico.
        </div>
      </ion-accordion>
      <ion-accordion value="second">
        <ion-item slot="header" color="light">
          <ion-label>Camara Comercio</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">
          <ion-card>
            <img alt="Silhouette of mountains" src="../../assets/icon/camara.jpg" />
            <ion-card-content>TELEFONO: +57 316 0233043</ion-card-content>
            <ion-card-content>CORREO: ccaguachica@camaraaguachica.org.co</ion-card-content>
            <ion-card-content>DIRECCION: Carrera 14 No 6-74</ion-card-content>
          </ion-card>
        </div>
        <div class="ion-padding" slot="content">
          <h1>PRINCIPALES SECRETARIAS</h1>
        </div>
        <div class="ion-padding" slot="content">
          <h2>Operaciones</h2>
        </div>
        <div class="ion-padding" slot="content">
          <h2>Prevención de incendios</h2>
        </div>
        <div class="ion-padding" slot="content">
          <h2>Capacitación</h2>
        </div>
      </ion-accordion>
      <ion-accordion value="third">
        <ion-item slot="header" color="light">
          <ion-label>Bomberos</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">
          <ion-card>
            <img alt="Silhouette of mountains" src="../../assets/icon/BOMBEROS.jpg" />
            <ion-card-content>TELEFONO: +57 3228662944</ion-card-content>
            <ion-card-content>CORREO: dnbemergencias@gmail.com</ion-card-content>
            <ion-card-content>DIRECCION: Calle 11 No 11-53</ion-card-content>
          </ion-card>
        </div>
        <div class="ion-padding" slot="content">
          <h1>PRINCIPALES SECRETARIAS</h1>
        </div>
        <div class="ion-padding" slot="content">
          <h2>Operaciones</h2>
        </div>
        <div class="ion-padding" slot="content">
          <h2>Prevención de incendios</h2>
        </div>
        <div class="ion-padding" slot="content">
          <h2>Capacitación</h2>
        </div>
      </ion-accordion>
      <ion-accordion value="quarter">
        <ion-item slot="header" color="light">
          <ion-label>Policia</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">
          <ion-card>
            <img alt="Silhouette of mountains" src="../../assets/icon/policia_aguachica.jpg" />
            <ion-card-content>TELEFONO: (605) 5659549 - 3163311305</ion-card-content>
            <ion-card-content>CORREO: desan.espri-agu@policia.gov.co</ion-card-content>
            <ion-card-content>DIRECCION: Calle 3 No 33-34</ion-card-content>
          </ion-card>
        </div>

        <div class="ion-padding" slot="content">
          <h1>PRINCIPALES SECRETARIAS</h1>
        </div>

        <div class="ion-padding" slot="content">
          <h2>Secretaría de Salud y Protección Social</h2>
          <b>Datos de interes:</b> Esta secretaría puede proporcionar datos de cobertura de salud,
          incluyendo excepciones para las Fuerzas Militares y la Policía Nacional. Puedes contactar a la Secretaría de
          Salud y Protección Social del municipio de Aguachica, Cesar para obtener más información.
        </div>
        <div class="ion-padding" slot="content">
          <h2>Secretaría de Gobierno</h2>
          <b>Datos de interes:</b> La Secretaría de Gobierno puede tener información sobre las instalaciones de la
          Policía en Aguachica , Cesar, incluyendo condiciones de seguridad y mejoras en las estaciones de Policía.
          Puedes comunicarte con la Secretaría de Gobierno del municipio para obtener detalles específicos.
        </div>
        <div class="ion-padding" slot="content">
          <h2>Secretaría de Transparencia y Control Disciplinario</h2>
          <b>Datos de interes:</b> La Secretaría de Gobierno puede tener información sobre las instalaciones de la
          Esta secretaría puede tener datos relacionados con casos
          de corrupción registrados en Aguachica, Cesar. Puedes consultar con la Secretaría de Transparencia y Control
          Disciplinario para obtener información sobre los hechos de corrupción en la localidad.
        </div>
      </ion-accordion>
    </ion-accordion-group>
  </ion-content>
</ion-menu>
<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Menu</ion-title>
      <ion-button size="small" slot="end" tab="form" href="formulario">Solicitud</ion-button>
      <ion-badge color="danger" slot="end">1000</ion-badge>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-card>
      <ion-accordion-group>
        <ion-accordion value="first">
          <ion-item slot="header" color="light">
            <ion-label>Iglesias</ion-label>
          </ion-item>
          <!--Desde aca es el original-->
          <div class="ion-padding" slot="content">
            <ion-accordion-group>
              <ion-accordion value="first">
                <ion-item slot="header">
                  <ion-label>VIRGEN DEL CARMEN</ion-label>
                </ion-item>
                <div class="ion-padding" slot="content">
                  <ion-card>
                    <img alt="Silhouette of mountains" src="../../assets/icon/iglesiavirgendelcarmen.jpeg" />
                    <iframe
                      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7895.899519666301!2d-73.61899955620288!3d8.307791774102899!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e5d857c9f96cb87%3A0x6099d6df527f6b1f!2sPARROQUIA%20NUESTRA%20SE%C3%91ORA%20DEL%20CARMEN!5e0!3m2!1ses!2sco!4v1694844861391!5m2!1ses!2sco"
                      width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                      referrerpolicy="no-referrer-when-downgrade"></iframe>
                  </ion-card>
                </div>
              </ion-accordion>
              <ion-accordion value="second">
                <ion-item slot="header">
                  <ion-label>SAN ROQUE</ion-label>
                </ion-item>
                <div class="ion-padding" slot="content">
                  <ion-card>
                    <img alt="Silhouette of mountains" src="../../assets/icon/iglesiasanroque.jpg" />
                    <iframe
                      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15791.70894971895!2d-73.6421323441233!3d8.310029907988266!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e5d8563c210a2ab%3A0x9d160ba6ede1b368!2sParque%20San%20Roque!5e0!3m2!1ses!2sco!4v1694845008015!5m2!1ses!2sco"
                      width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                      referrerpolicy="no-referrer-when-downgrade"></iframe>
                  </ion-card>
                </div>
              </ion-accordion>
              <ion-accordion value="third">
                <ion-item slot="header">
                  <ion-label>ESPIRITU SANTO</ion-label>
                </ion-item>
                <div class="ion-padding" slot="content">
                  <ion-card>
                    <img alt="Silhouette of mountains" src="../../assets/icon/iglesiaespiritu.jpg" />
                    <iframe
                      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15791.938959154211!2d-73.6035692!3d8.304314500000002!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e5d8583027124a3%3A0x4838ba17a6f917e!2sParroquia%20Espiritu%20Santo!5e0!3m2!1ses!2sco!4v1694845198359!5m2!1ses!2sco"
                      width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                      referrerpolicy="no-referrer-when-downgrade"></iframe>
                  </ion-card>
                </div>
              </ion-accordion>
              <ion-accordion value="quarter">
                <ion-item slot="header">
                  <ion-label>SAN VICENTE DE PAUL</ion-label>
                </ion-item>
                <div class="ion-padding" slot="content">
                  <ion-card>
                    <img alt="Silhouette of mountains" src="../../assets/icon/Iglesiasanvicente.JPG" />
                    <iframe
                      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3947.893577536886!2d-73.6047271266099!3d8.3133736997835!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e5d8f7e1882c2df%3A0x1a14b860cc14de13!2sParroquia%20San%20Vicente%20De%20Paul!5e0!3m2!1ses!2sco!4v1694845330337!5m2!1ses!2sco"
                      width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                      referrerpolicy="no-referrer-when-downgrade"></iframe>
                  </ion-card>
                </div>
              </ion-accordion>
            </ion-accordion-group>
          </div>
        </ion-accordion>
        <ion-accordion value="second">
          <ion-item slot="header" color="light">
            <ion-label>Parques</ion-label>
          </ion-item>
          <div class="ion-padding" slot="content">
            <ion-accordion-group>
              <ion-accordion value="first">
                <ion-item slot="header">
                  <ion-label>SAN ROQUE</ion-label>
                </ion-item>
                <div class="ion-padding" slot="content">
                  <ion-card>
                    <img alt="Silhouette of mountains" src="../../assets/icon/Parquesanroque.jpg" />
                    <iframe
                      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15791.70894971895!2d-73.64213234412331!3d8.310029907988266!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e5d8563c210a2ab%3A0x9d160ba6ede1b368!2sParque%20San%20Roque!5e0!3m2!1ses!2sco!4v1694845459979!5m2!1ses!2sco"
                      width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                      referrerpolicy="no-referrer-when-downgrade"></iframe>
                  </ion-card>
                </div>
              </ion-accordion>
              <ion-accordion value="second">
                <ion-item slot="header">
                  <ion-label>MORROCOY</ion-label>
                </ion-item>
                <div class="ion-padding" slot="content">
                  <ion-card>
                    <img alt="Silhouette of mountains" src="../../assets/icon/Parquemorrocoy.jpg" />
                    <iframe
                      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3947.9283596819846!2d-73.61925902661005!3d8.309918399833558!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e5d857ce9a4a421%3A0x6d1ba00b4cd42fd5!2sParque%20Morrocoy!5e0!3m2!1ses!2sco!4v1694845517640!5m2!1ses!2sco"
                      width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                      referrerpolicy="no-referrer-when-downgrade"></iframe>
                  </ion-card>
                </div>
              </ion-accordion>
              <ion-accordion value="third">
                <ion-item slot="header">
                  <ion-label>SAN ANTONIO</ion-label>
                </ion-item>
                <div class="ion-padding" slot="content">
                  <ion-card>
                    <img alt="Silhouette of mountains" src="../../assets/icon/Parquesanantonio.jpeg" />
                    <iframe
                      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4763.25016274476!2d-73.61831641972758!3d8.305249485479825!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e5d85bb92946313%3A0x6cd066fbf3eff778!2sParque%20San%20Antonio!5e0!3m2!1ses!2sco!4v1694845597153!5m2!1ses!2sco"
                      width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                      referrerpolicy="no-referrer-when-downgrade"></iframe>
                  </ion-card>
                </div>
              </ion-accordion>
              <ion-accordion value="quarter">
                <ion-item slot="header">
                  <ion-label>LAS ACACIAS</ion-label>
                </ion-item>
                <div class="ion-padding" slot="content">
                  <ion-card>
                    <img alt="Silhouette of mountains" src="../../assets/icon/Parqueacacias.jpg" />
                    <iframe
                      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3947.9795962266635!2d-73.6105915266101!3d8.304825899907414!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e5d85785e00acff%3A0x662d57df957e3334!2sParque%20Las%20Acacias!5e0!3m2!1ses!2sco!4v1694845816338!5m2!1ses!2sco"
                      width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                      referrerpolicy="no-referrer-when-downgrade"></iframe>
                  </ion-card>
                </div>
              </ion-accordion>
              <ion-accordion value="fifth">
                <ion-item slot="header">
                  <ion-label>VILLA COUNTRY</ion-label>
                </ion-item>
                <div class="ion-padding" slot="content">
                  <ion-card>
                    <img alt="Silhouette of mountains" src="../../assets/icon/Parquecountry.jpeg" />
                    <iframe
                      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3948.025926226161!2d-73.60425512661008!3d8.300218399974181!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e5d85705d599207%3A0x73722bd4390344d8!2sParque%20Villa%20country!5e0!3m2!1ses!2sco!4v1694845926804!5m2!1ses!2sco"
                      width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                      referrerpolicy="no-referrer-when-downgrade"></iframe>
                  </ion-card>
                </div>
              </ion-accordion>
              <ion-accordion value="sixth">
                <ion-item slot="header">
                  <ion-label>VILLA IRINA</ion-label>
                </ion-item>
                <div class="ion-padding" slot="content">
                  <ion-card>
                    <img alt="Silhouette of mountains" src="../../assets/icon/Parqueirina.jpg" />
                    <iframe
                      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3947.941964931276!2d-73.63374537661005!3d8.308566449853192!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e5d855def331f21%3A0x699296062c12a442!2sparque%20VILLA%20IRINA%2C%20Aguachica%20-%20Gamarra%2C%20Aguachica%2C%20Cesar!5e0!3m2!1ses!2sco!4v1694845961828!5m2!1ses!2sco"
                      width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                      referrerpolicy="no-referrer-when-downgrade"></iframe>
                  </ion-card>
                </div>
              </ion-accordion>
            </ion-accordion-group>
          </div>
        </ion-accordion>
        <ion-accordion value="third">
          <ion-item slot="header" color="light">
            <ion-label>Rios</ion-label>
          </ion-item>
          <div class="ion-padding" slot="content">
            <ion-accordion-group>
              <ion-accordion value="first">
                <ion-item slot="header">
                  <ion-label>QUEBRADA BUTURAMA</ion-label>
                </ion-item>
                <div class="ion-padding" slot="content">
                  <ion-card>
                    <img alt="Silhouette of mountains" src="../../assets/icon/Quebradabuturama.jpeg" />
                    <iframe
                      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d31586.909983449954!2d-73.61590582606308!3d8.266545078615826!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e5d84fd1dad67c9%3A0xbbf6a3e2a9af262e!2sQuebrada%20Buturama!5e0!3m2!1ses!2sco!4v1694846168872!5m2!1ses!2sco"
                      width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                      referrerpolicy="no-referrer-when-downgrade"></iframe>
                  </ion-card>
                </div>
              </ion-accordion>
              <ion-accordion value="second">
                <ion-item slot="header">
                  <ion-label>QUEBRADA AGUAS CLARAS</ion-label>
                </ion-item>
                <div class="ion-padding" slot="content">
                  <ion-card>
                    <img alt="Silhouette of mountains" src="../../assets/icon/Quebradaaguasclaras.jpg" />
                    <iframe
                      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d31585.994828240175!2d-73.60945649679839!3d8.27796289139975!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e5d85c30ccdd363%3A0x3b8b0b9eb58624d5!2sQuebrada%20Aguasclaras!5e0!3m2!1ses!2sco!4v1694846319283!5m2!1ses!2sco"
                      width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                      referrerpolicy="no-referrer-when-downgrade"></iframe>
                  </ion-card>
                </div>
              </ion-accordion>
              <ion-accordion value="third">
                <ion-item slot="header">
                  <ion-label>QUEBRADA NOREAN</ion-label>
                </ion-item>
                <div class="ion-padding" slot="content">
                  <ion-card>
                    <img alt="Silhouette of mountains" src="../../assets/icon/Quebradanorean.jpg" />
                    <iframe
                      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d31576.596785880796!2d-73.75841754671599!3d8.394323971558919!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e5d915043fce417%3A0x658359264a0e8546!2sQuebrada%20Nore%C3%A1n!5e0!3m2!1ses!2sco!4v1694846495498!5m2!1ses!2sco"
                      width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                      referrerpolicy="no-referrer-when-downgrade"></iframe>
                  </ion-card>
                </div>
              </ion-accordion>
            </ion-accordion-group>
          </div>
        </ion-accordion>
      </ion-accordion-group>
    </ion-card>
  </ion-content>
</div>