<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Lugares Interes</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <ion-accordion-group>
      <ion-accordion value="first">
        <ion-item slot="header" color="light">
          <ion-label>Alcaldia</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">
          <ion-card>
            <img alt="Silhouette of mountains" src="../../assets/icon/Alcaldia.jpg" />
            <ion-card-content>TELEFONO: 55651771</ion-card-content>
            <ion-card-content>CORREO: ALCALDIA@AGUACHICA-CESAR.GOV.CO.</ion-card-content>
            <ion-card-content>DIRECCION: CALLE 4 No 10-33</ion-card-content>
          </ion-card>
        </div>
        <div class="ion-padding" slot="content">
          <h1>PRINCIPALES SECRETARIAS</h1>
        </div>
        <div class="ion-padding" slot="content">
          <h2>Secretaría de Gobierno</h2>
          <b>Datos de interés:</b> Horarios de atención al público, ubicación de oficinas, y contactos de
          emergencia.
        </div>
        <div class="ion-padding" slot="content">
          <h2>Secretaría de Hacienda</h2>
          <b>Datos de interés:</b> Información sobre impuestos locales, fechas de vencimiento, y formas de pago.
        </div>
        <div class="ion-padding" slot="content">
          <h2>Secretaría de Planeación</h2>
          <b>Datos de interés:</b> Proyectos de desarrollo en curso, consultas públicas sobre planificación urbana, y
          documentos de planificación disponibles.
        </div>
        <div class="ion-padding" slot="content">
          <h2>Secretaría de Cultura y Deporte</h2>
          <b>Datos de interés:</b> Calendario de eventos culturales y deportivos, inscripciones a actividades
          recreativas, y ubicación de centros culturales.
        </div>
        <div class="ion-padding" slot="content">
          <h2>Secretaría de Salud</h2>
          <b>Datos de interés:</b> Horarios de atención médica, servicios disponibles, y campañas de salud pública.
        </div>
        <div class="ion-padding" slot="content">
          <h2>Secretaría de Tránsito y Transporte</h2>
          <b>Datos de interés:</b> Requisitos para obtener licencias de conducir, información sobre rutas de
          transporte público, y reglamentaciones de tráfico.
        </div>
      </ion-accordion>
      <ion-accordion value="second">
        <ion-item slot="header" color="light">
          <ion-label>Camara Comercio</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">
          <ion-card>
            <img alt="Silhouette of mountains" src="../../assets/icon/camara.jpg" />
            <ion-card-content>TELEFONO: +57 316 0233043</ion-card-content>
            <ion-card-content>CORREO: ccaguachica@camaraaguachica.org.co</ion-card-content>
            <ion-card-content>DIRECCION: Carrera 14 No 6-74</ion-card-content>
          </ion-card>
        </div>
        <div class="ion-padding" slot="content">
          <h1>PRINCIPALES SECRETARIAS</h1>
        </div>
        <div class="ion-padding" slot="content">
          <h2>Operaciones</h2>
        </div>
        <div class="ion-padding" slot="content">
          <h2>Prevención de incendios</h2>
        </div>
        <div class="ion-padding" slot="content">
          <h2>Capacitación</h2>
        </div>
      </ion-accordion>
      <ion-accordion value="third">
        <ion-item slot="header" color="light">
          <ion-label>Bomberos</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">
          <ion-card>
            <img alt="Silhouette of mountains" src="../../assets/icon/BOMBEROS.jpg" />
            <ion-card-content>TELEFONO: +57 3228662944</ion-card-content>
            <ion-card-content>CORREO: dnbemergencias@gmail.com</ion-card-content>
            <ion-card-content>DIRECCION: Calle 11 No 11-53</ion-card-content>
          </ion-card>
        </div>
        <div class="ion-padding" slot="content">
          <h1>PRINCIPALES SECRETARIAS</h1>
        </div>
        <div class="ion-padding" slot="content">
          <h2>Operaciones</h2>
        </div>
        <div class="ion-padding" slot="content">
          <h2>Prevención de incendios</h2>
        </div>
        <div class="ion-padding" slot="content">
          <h2>Capacitación</h2>
        </div>
      </ion-accordion>
      <ion-accordion value="quarter">
        <ion-item slot="header" color="light">
          <ion-label>Policia</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">
          <ion-card>
            <img alt="Silhouette of mountains" src="../../assets/icon/policia_aguachica.jpg" />
            <ion-card-content>TELEFONO: (605) 5659549 - 3163311305</ion-card-content>
            <ion-card-content>CORREO: desan.espri-agu@policia.gov.co</ion-card-content>
            <ion-card-content>DIRECCION: Calle 3 No 33-34</ion-card-content>
          </ion-card>
        </div>

        <div class="ion-padding" slot="content">
          <h1>PRINCIPALES SECRETARIAS</h1>
        </div>

        <div class="ion-padding" slot="content">
          <h2>Secretaría de Salud y Protección Social</h2>
          <b>Datos de interes:</b> Esta secretaría puede proporcionar datos de cobertura de salud,
          incluyendo excepciones para las Fuerzas Militares y la Policía Nacional. Puedes contactar a la Secretaría de
          Salud y Protección Social del municipio de Aguachica, Cesar para obtener más información.
        </div>
        <div class="ion-padding" slot="content">
          <h2>Secretaría de Gobierno</h2>
          <b>Datos de interes:</b> La Secretaría de Gobierno puede tener información sobre las instalaciones de la
          Policía en Aguachica , Cesar, incluyendo condiciones de seguridad y mejoras en las estaciones de Policía.
          Puedes comunicarte con la Secretaría de Gobierno del municipio para obtener detalles específicos.
        </div>
        <div class="ion-padding" slot="content">
          <h2>Secretaría de Transparencia y Control Disciplinario</h2>
          <b>Datos de interes:</b> La Secretaría de Gobierno puede tener información sobre las instalaciones de la
          Esta secretaría puede tener datos relacionados con casos
          de corrupción registrados en Aguachica, Cesar. Puedes consultar con la Secretaría de Transparencia y Control
          Disciplinario para obtener información sobre los hechos de corrupción en la localidad.
        </div>
      </ion-accordion>
    </ion-accordion-group>
  </ion-content>
</ion-menu>
<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Menu</ion-title>
      <ion-button size="small" slot="end" tab="form" href="formulario">Solicitud</ion-button>
      <ion-badge color="danger" slot="end">1000</ion-badge>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-card>
      <ion-accordion-group>
        <ion-accordion value="first">
          <ion-item slot="header" color="light">
            <ion-label>LA REBAJA PLUS No 2</ion-label>
          </ion-item>
          <div class="ion-padding" slot="content">
            <ion-card>
              <ion-card-content>
                DIRECCION: Calle 3 # 15-58 Local 1
              </ion-card-content>
              <ion-card-content>
                TELEFONO: 55651079
              </ion-card-content>
              <ion-card-content>
                <h2>HORARIO:</h2>
                <h2>Domingo</h2>
                <p>07:30 - 21:00</p>
                <h2>Lunes</h2>
                <p>07:30 - 21:00</p>
                <h2>Martes</h2>
                <p>07:30 - 21:00</p>
                <h2>Miercoles</h2>
                <p>07:30 - 21:00</p>
                <h2>Jueves</h2>
                <p>07:30 - 21:00</p>
                <h2>Viernes</h2>
                <p>07:30 - 21:00</p>
                <h2>sábado</h2>
                <p>07:30 - 21:00</p>
              </ion-card-content>
            </ion-card>
          </div>
        </ion-accordion>
        <ion-accordion value="Second">
          <ion-item slot="header" color="light">
            <ion-label>MAS X MENOS</ion-label>
          </ion-item>
          <div class="ion-padding" slot="content">
            <ion-card>
              <ion-card-content>
                DIRECCION: Calle 5 # 29-52
              </ion-card-content>
              <ion-card-content>
                TELEFONO: 323 2241092
              </ion-card-content>
              <ion-card-content>
                <h2>HORARIO:</h2>
                <h2>Domingo</h2>
                <p>07:00 - 22:00</p>
                <h2>Lunes</h2>
                <p>07:00 - 22:00</p>
                <h2>Martes</h2>
                <p>07:00 - 22:00</p>
                <h2>Miercoles</h2>
                <p>07:00 - 22:00</p>
                <h2>Jueves</h2>
                <p>07:00 - 22:00</p>
                <h2>Viernes</h2>
                <p>07:00 - 22:00</p>
                <h2>sábado</h2>
                <p>07:00 - 22:00</p>
              </ion-card-content>
            </ion-card>
          </div>
        </ion-accordion>
        <ion-accordion value="third">
          <ion-item slot="header" color="light">
            <ion-label>MEDILAT</ion-label>
          </ion-item>
          <div class="ion-padding" slot="content">
            <ion-card>
              <ion-card-content>
                DIRECCION: Calle 5 # 23-32
              </ion-card-content>
              <ion-card-content>
                TELEFONO: 315 8201250
              </ion-card-content>
              <ion-card-content>
                <h2>HORARIO:</h2>
                <h2>Domingo</h2>
                <p>08:00 - 21:00</p>
                <h2>Lunes</h2>
                <p>08:00 - 21:00</p>
                <h2>Martes</h2>
                <p>08:00 - 21:00</p>
                <h2>Miercoles</h2>
                <p>08:00 - 21:00</p>
                <h2>Jueves</h2>
                <p>08:00 - 21:00</p>
                <h2>Viernes</h2>
                <p>08:00 - 21:00</p>
                <h2>sábado</h2>
                <p>08:00 - 21:00</p>
              </ion-card-content>
            </ion-card>
          </div>
        </ion-accordion>
        <ion-accordion value="quarter">
          <ion-item slot="header" color="light">
            <ion-label>PAGUE MENOS LA QUINTA</ion-label>
          </ion-item>
          <div class="ion-padding" slot="content">
            <ion-card>
              <ion-card-content>
                DIRECCION: Calle 5 # 17-90
              </ion-card-content>
              <ion-card-content>
                TELEFONO: 5650412
              </ion-card-content>
              <ion-card-content>
                <h2>HORARIO:</h2>
                <h2>Domingo</h2>
                <p>08:00 - 22:00</p>
                <h2>Lunes</h2>
                <p>08:00 - 22:00</p>
                <h2>Martes</h2>
                <p>08:00 - 22:00</p>
                <h2>Miercoles</h2>
                <p>08:00 - 22:00</p>
                <h2>Jueves</h2>
                <p>08:00 - 22:00</p>
                <h2>Viernes</h2>
                <p>08:00 - 22:00</p>
                <h2>sábado</h2>
                <p>08:00 - 22:00</p>
              </ion-card-content>
            </ion-card>
          </div>
        </ion-accordion>
        <ion-accordion value="fifth">
          <ion-item slot="header" color="light">
            <ion-label>CURITA PLUS NO 2</ion-label>
          </ion-item>
          <div class="ion-padding" slot="content">
            <ion-card>
              <ion-card-content>
                DIRECCION: Calle 5 # 22-85
              </ion-card-content>
              <ion-card-content>
                TELEFONO: 321 6289309
              </ion-card-content>
              <ion-card-content>
                <h2>HORARIO:</h2>
                <h2>Domingo</h2>
                <p>08:00 - 13:00</p>
                <h2>Lunes</h2>
                <p>08:00 - 20:00</p>
                <h2>Martes</h2>
                <p>08:00 - 20:00</p>
                <h2>Miercoles</h2>
                <p>08:00 - 20:00</p>
                <h2>Jueves</h2>
                <p>08:00 - 20:00</p>
                <h2>Viernes</h2>
                <p>08:00 - 20:00</p>
                <h2>sábado</h2>
                <p>08:00 - 20:00</p>
              </ion-card-content>
            </ion-card>
          </div>
        </ion-accordion>
        <ion-accordion value="sixth">
          <ion-item slot="header" color="light">
            <ion-label>DROGUERIA Y PERFUMERIA VIDA</ion-label>
          </ion-item>
          <div class="ion-padding" slot="content">
            <ion-card>
              <ion-card-content>
                DIRECCION: Carrera 16 # 6a-35
              </ion-card-content>
              <ion-card-content>
                TELEFONO: (605) 5658989
              </ion-card-content>
              <ion-card-content>
                <h2>HORARIO:</h2>
                <h2>Domingo</h2>
                <p>Cerrado</p>
                <h2>Lunes</h2>
                <p>08:00 - 20:00</p>
                <h2>Martes</h2>
                <p>08:00 - 20:00</p>
                <h2>Miercoles</h2>
                <p>08:00 - 20:00</p>
                <h2>Jueves</h2>
                <p>08:00 - 20:00</p>
                <h2>Viernes</h2>
                <p>08:00 - 20:00</p>
                <h2>sábado</h2>
                <p>08:00 - 20:00</p>
              </ion-card-content>
            </ion-card>
          </div>
        </ion-accordion>
        <ion-accordion value="seventh">
          <ion-item slot="header" color="light">
            <ion-label>LA ECONOMIA</ion-label>
          </ion-item>
          <div class="ion-padding" slot="content">
            <ion-card>
              <ion-card-content>
                DIRECCION: Carrera 18 # 7-74
              </ion-card-content>
              <ion-card-content>
                TELEFONO: 55655400
              </ion-card-content>
              <ion-card-content>
                <h2>HORARIO:</h2>
                <h2>Domingo</h2>
                <p>08:00 - 16:00</p>
                <h2>Lunes</h2>
                <p>07:00 - 21:00</p>
                <h2>Martes</h2>
                <p>07:00 - 21:00</p>
                <h2>Miercoles</h2>
                <p>07:00 - 21:00</p>
                <h2>Jueves</h2>
                <p>07:00 - 21:00</p>
                <h2>Viernes</h2>
                <p>07:00 - 21:00</p>
                <h2>sábado</h2>
                <p>07:00 - 21:00</p>
              </ion-card-content>
            </ion-card>
          </div>
        </ion-accordion>
        <ion-accordion value="eigth">
          <ion-item slot="header" color="light">
            <ion-label>SELECTA AGUACHICA</ion-label>
          </ion-item>
          <div class="ion-padding" slot="content">
            <ion-card>
              <ion-card-content>
                DIRECCION: Calle 5 # 31-77
              </ion-card-content>
              <ion-card-content>
                TELEFONO: 316 2882854
              </ion-card-content>
              <ion-card-content>
                <h2>HORARIO:</h2>
                <h2>Domingo</h2>
                <p>07:00 - 22:00</p>
                <h2>Lunes</h2>
                <p>07:00 - 22:00</p>
                <h2>Martes</h2>
                <p>07:00 - 22:00</p>
                <h2>Miercoles</h2>
                <p>07:00 - 22:00</p>
                <h2>Jueves</h2>
                <p>07:00 - 22:00</p>
                <h2>Viernes</h2>
                <p>07:00 - 22:00</p>
                <h2>sábado</h2>
                <p>07:00 - 22:00</p>
              </ion-card-content>
            </ion-card>
          </div>
        </ion-accordion>
        <ion-accordion value="ninth">
          <ion-item slot="header" color="light">
            <ion-label>CURE</ion-label>
          </ion-item>
          <div class="ion-padding" slot="content">
            <ion-card>
              <ion-card-content>
                DIRECCION: Calle 5 # 21-99
              </ion-card-content>
              <ion-card-content>
                TELEFONO: 55659300
              </ion-card-content>
              <ion-card-content>
                <h2>HORARIO:</h2>
                <h2>Domingo</h2>
                <p>Cerrado</p>
                <h2>Lunes</h2>
                <p>07:30 - 20:00</p>
                <h2>Martes</h2>
                <p>07:30 - 20:00</p>
                <h2>Miercoles</h2>
                <p>07:30 - 20:00</p>
                <h2>Jueves</h2>
                <p>07:30 - 20:00</p>
                <h2>Viernes</h2>
                <p>07:30 - 20:00</p>
                <h2>sábado</h2>
                <p>07:30 - 20:00</p>
              </ion-card-content>
            </ion-card>
          </div>
        </ion-accordion>
        <ion-accordion value="tenth">
          <ion-item slot="header" color="light">
            <ion-label>FARMANORTE</ion-label>
          </ion-item>
          <div class="ion-padding" slot="content">
            <ion-card>
              <ion-card-content>
                DIRECCION: Calle 10 NORTE # 31-19
              </ion-card-content>
              <ion-card-content>
                TELEFONO: 315 4386190
              </ion-card-content>
              <ion-card-content>
                <h2>HORARIO:</h2>
                <h2>Domingo</h2>
                <p>07:00 - 20:00</p>
                <h2>Lunes</h2>
                <p>07:00 - 20:00</p>
                <h2>Martes</h2>
                <p>07:00 - 20:00</p>
                <h2>Miercoles</h2>
                <p>07:00 - 20:00</p>
                <h2>Jueves</h2>
                <p>07:00 - 20:00</p>
                <h2>Viernes</h2>
                <p>07:00 - 20:00</p>
                <h2>sábado</h2>
                <p>07:00 - 20:00</p>
              </ion-card-content>
            </ion-card>
          </div>
        </ion-accordion>
        <ion-accordion value="eleven">
          <ion-item slot="header" color="light">
            <ion-label>BENDICION Y FE</ion-label>
          </ion-item>
          <div class="ion-padding" slot="content">
            <ion-card>
              <ion-card-content>
                DIRECCION: Calle 10 NORTE # 39B-46
              </ion-card-content>
              <ion-card-content>
                TELEFONO: 317 3858544
              </ion-card-content>
              <ion-card-content>
                <h2>HORARIO:</h2>
                <h2>Domingo</h2>
                <p>09:00 - 15:00</p>
                <h2>Lunes</h2>
                <p>08:00 - 19:00</p>
                <h2>Martes</h2>
                <p>08:00 - 19:00</p>
                <h2>Miercoles</h2>
                <p>08:00 - 19:00</p>
                <h2>Jueves</h2>
                <p>08:00 - 19:00</p>
                <h2>Viernes</h2>
                <p>08:00 - 19:00</p>
                <h2>sábado</h2>
                <p>08:00 - 19:00</p>
              </ion-card-content>
            </ion-card>
          </div>
        </ion-accordion>
        <ion-accordion value="twelve">
          <ion-item slot="header" color="light">
            <ion-label>AL COSTO</ion-label>
          </ion-item>
          <div class="ion-padding" slot="content">
            <ion-card>
              <ion-card-content>
                DIRECCION: Carrera 10 # 5-04
              </ion-card-content>
              <ion-card-content>
                TELEFONO: 315 4599084
              </ion-card-content>
              <ion-card-content>
                <h2>HORARIO:</h2>
                <h2>Domingo</h2>
                <p>08:00 - 13:00</p>
                <h2>Lunes</h2>
                <p>07:30 - 21:00</p>
                <h2>Martes</h2>
                <p>07:30 - 21:00</p>
                <h2>Miercoles</h2>
                <p>07:30 - 21:00</p>
                <h2>Jueves</h2>
                <p>07:30 - 21:00</p>
                <h2>Viernes</h2>
                <p>07:30 - 21:00</p>
                <h2>sábado</h2>
                <p>07:30 - 21:00</p>
              </ion-card-content>
            </ion-card>
          </div>
        </ion-accordion>
      </ion-accordion-group>
    </ion-card>
  </ion-content>
</div>