<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Lugares Interes</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <ion-accordion-group>
      <ion-accordion value="first">
        <ion-item slot="header" color="light">
          <ion-label>Alcaldia</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">
          <ion-card>
            <img alt="Silhouette of mountains" src="../../assets/icon/Alcaldia.jpg" />
            <ion-card-content>TELEFONO: 55651771</ion-card-content>
            <ion-card-content>CORREO: ALCALDIA@AGUACHICA-CESAR.GOV.CO.</ion-card-content>
            <ion-card-content>DIRECCION: CALLE 4 No 10-33</ion-card-content>
          </ion-card>
        </div>
        <div class="ion-padding" slot="content">
          <h1>PRINCIPALES SECRETARIAS</h1>
        </div>
        <div class="ion-padding" slot="content">
          <h2>Secretaría de Gobierno</h2>
          <b>Datos de interés:</b> Horarios de atención al público, ubicación de oficinas, y contactos de
          emergencia.
        </div>
        <div class="ion-padding" slot="content">
          <h2>Secretaría de Hacienda</h2>
          <b>Datos de interés:</b> Información sobre impuestos locales, fechas de vencimiento, y formas de pago.
        </div>
        <div class="ion-padding" slot="content">
          <h2>Secretaría de Planeación</h2>
          <b>Datos de interés:</b> Proyectos de desarrollo en curso, consultas públicas sobre planificación urbana, y
          documentos de planificación disponibles.
        </div>
        <div class="ion-padding" slot="content">
          <h2>Secretaría de Cultura y Deporte</h2>
          <b>Datos de interés:</b> Calendario de eventos culturales y deportivos, inscripciones a actividades
          recreativas, y ubicación de centros culturales.
        </div>
        <div class="ion-padding" slot="content">
          <h2>Secretaría de Salud</h2>
          <b>Datos de interés:</b> Horarios de atención médica, servicios disponibles, y campañas de salud pública.
        </div>
        <div class="ion-padding" slot="content">
          <h2>Secretaría de Tránsito y Transporte</h2>
          <b>Datos de interés:</b> Requisitos para obtener licencias de conducir, información sobre rutas de
          transporte público, y reglamentaciones de tráfico.
        </div>
      </ion-accordion>
      <ion-accordion value="second">
        <ion-item slot="header" color="light">
          <ion-label>Camara Comercio</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">
          <ion-card>
            <img alt="Silhouette of mountains" src="../../assets/icon/camara.jpg" />
            <ion-card-content>TELEFONO: +57 316 0233043</ion-card-content>
            <ion-card-content>CORREO: ccaguachica@camaraaguachica.org.co</ion-card-content>
            <ion-card-content>DIRECCION: Carrera 14 No 6-74</ion-card-content>
          </ion-card>
        </div>
        <div class="ion-padding" slot="content">
          <h1>PRINCIPALES SECRETARIAS</h1>
        </div>
        <div class="ion-padding" slot="content">
          <h2>Operaciones</h2>
        </div>
        <div class="ion-padding" slot="content">
          <h2>Prevención de incendios</h2>
        </div>
        <div class="ion-padding" slot="content">
          <h2>Capacitación</h2>
        </div>
      </ion-accordion>
      <ion-accordion value="third">
        <ion-item slot="header" color="light">
          <ion-label>Bomberos</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">
          <ion-card>
            <img alt="Silhouette of mountains" src="../../assets/icon/BOMBEROS.jpg" />
            <ion-card-content>TELEFONO: +57 3228662944</ion-card-content>
            <ion-card-content>CORREO: dnbemergencias@gmail.com</ion-card-content>
            <ion-card-content>DIRECCION: Calle 11 No 11-53</ion-card-content>
          </ion-card>
        </div>
        <div class="ion-padding" slot="content">
          <h1>PRINCIPALES SECRETARIAS</h1>
        </div>
        <div class="ion-padding" slot="content">
          <h2>Operaciones</h2>
        </div>
        <div class="ion-padding" slot="content">
          <h2>Prevención de incendios</h2>
        </div>
        <div class="ion-padding" slot="content">
          <h2>Capacitación</h2>
        </div>
      </ion-accordion>
      <ion-accordion value="quarter">
        <ion-item slot="header" color="light">
          <ion-label>Policia</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">
          <ion-card>
            <img alt="Silhouette of mountains" src="../../assets/icon/policia_aguachica.jpg" />
            <ion-card-content>TELEFONO: (605) 5659549 - 3163311305</ion-card-content>
            <ion-card-content>CORREO: desan.espri-agu@policia.gov.co</ion-card-content>
            <ion-card-content>DIRECCION: Calle 3 No 33-34</ion-card-content>
          </ion-card>
        </div>

        <div class="ion-padding" slot="content">
          <h1>PRINCIPALES SECRETARIAS</h1>
        </div>

        <div class="ion-padding" slot="content">
          <h2>Secretaría de Salud y Protección Social</h2>
          <b>Datos de interes:</b> Esta secretaría puede proporcionar datos de cobertura de salud,
          incluyendo excepciones para las Fuerzas Militares y la Policía Nacional. Puedes contactar a la Secretaría de
          Salud y Protección Social del municipio de Aguachica, Cesar para obtener más información.
        </div>
        <div class="ion-padding" slot="content">
          <h2>Secretaría de Gobierno</h2>
          <b>Datos de interes:</b> La Secretaría de Gobierno puede tener información sobre las instalaciones de la
          Policía en Aguachica , Cesar, incluyendo condiciones de seguridad y mejoras en las estaciones de Policía.
          Puedes comunicarte con la Secretaría de Gobierno del municipio para obtener detalles específicos.
        </div>
        <div class="ion-padding" slot="content">
          <h2>Secretaría de Transparencia y Control Disciplinario</h2>
          <b>Datos de interes:</b> La Secretaría de Gobierno puede tener información sobre las instalaciones de la
          Esta secretaría puede tener datos relacionados con casos
          de corrupción registrados en Aguachica, Cesar. Puedes consultar con la Secretaría de Transparencia y Control
          Disciplinario para obtener información sobre los hechos de corrupción en la localidad.
        </div>
      </ion-accordion>
    </ion-accordion-group>
  </ion-content>
</ion-menu>
<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Menu</ion-title>
      <ion-button size="small" slot="end" tab="form" href="formulario">Solicitud</ion-button>
      <ion-badge color="danger" slot="end">1000</ion-badge>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-card>
      <ion-accordion-group>
        <ion-accordion value="first">
          <ion-item slot="header" color="light">
            <ion-label>Pizzerias</ion-label>
          </ion-item>
          <!--Desde aca es el original-->
          <div class="ion-padding" slot="content">
            <ion-accordion-group>
              <ion-accordion value="first">
                <ion-item slot="header">
                  <ion-label>M&M</ion-label>
                </ion-item>
                <div class="ion-padding" slot="content">
                  <ion-card>
                    <img alt="Silhouette of mountains" src="../../assets/icon/m&m pizzeria.jpg" />
                    <ion-card-content>
                      <h2>DIRECCION</h2>
                      <p>Calle 6 # 18-03 Local 3 y 4</p>
                      <br>
                      <h2>TELEFONO</h2>
                      <P>318 2537579</P>
                      <br>
                      <h2>HORARIO:</h2>
                      <h2>Domingo</h2>
                      <p>16:30 - 23:00</p>
                      <h2>Lunes</h2>
                      <p>Cerrado</p>
                      <h2>Martes</h2>
                      <p>16:30 - 23:00</p>
                      <h2>Miercoles</h2>
                      <p>16:30 - 23:00</p>
                      <h2>Jueves</h2>
                      <p>16:30 - 23:00</p>
                      <h2>Viernes</h2>
                      <p>16:30 - 23:00</p>
                      <h2>sábado</h2>
                      <p>16:30 - 23:00</p>
                    </ion-card-content>
                  </ion-card>
                </div>
              </ion-accordion>
              <ion-accordion value="second">
                <ion-item slot="header">
                  <ion-label>RUSTICA</ion-label>
                </ion-item>
                <div class="ion-padding" slot="content">
                  <ion-card>
                    <img alt="Silhouette of mountains" src="../../assets/icon/Rustica pizzeria.jpg" />
                    <ion-card-content>
                      <h2>DIRECCION</h2>
                      <p>Calle 6 # 18-44</p>
                      <br>
                      <h2>TELEFONO</h2>
                      <P>5655713</P>
                      <br>
                      <h2>HORARIO:</h2>
                      <h2>Domingo</h2>
                      <p>12:00 - 23:00</p>
                      <h2>Lunes</h2>
                      <p>16:00 - 23:00</p>
                      <h2>Martes</h2>
                      <p>16:00 - 23:00</p>
                      <h2>Miercoles</h2>
                      <p>16:00 - 23:00</p>
                      <h2>Jueves</h2>
                      <p>16:00 - 23:00</p>
                      <h2>Viernes</h2>
                      <p>16:00 - 23:00</p>
                      <h2>sábado</h2>
                      <p>12:00 - 23:00</p>
                    </ion-card-content>
                  </ion-card>
                </div>
              </ion-accordion>
              <ion-accordion value="third">
                <ion-item slot="header">
                  <ion-label>BARUKH FAST FOOD</ion-label>
                </ion-item>
                <div class="ion-padding" slot="content">
                  <ion-card>
                    <img alt="Silhouette of mountains" src="../../assets/icon/Baruk.jpg" />
                    <ion-card-content>
                      <h2>DIRECCION</h2>
                      <p>Calle 4 # 18-07</p>
                      <br>
                      <h2>TELEFONO</h2>
                      <P>3104305014</P>
                      <br>
                      <h2>HORARIO:</h2>
                      <h2>Domingo</h2>
                      <p>17:00 - 22:30</p>
                      <h2>Lunes</h2>
                      <p>17:00 - 22:30</p>
                      <h2>Martes</h2>
                      <p>17:00 - 22:30</p>
                      <h2>Miercoles</h2>
                      <p>17:00 - 22:30</p>
                      <h2>Jueves</h2>
                      <p>17:00 - 22:30</p>
                      <h2>Viernes</h2>
                      <p>17:00 - 22:30</p>
                      <h2>sábado</h2>
                      <p>17:00 - 22:30</p>
                    </ion-card-content>
                  </ion-card>
                </div>
              </ion-accordion>
              <ion-accordion value="quarter">
                <ion-item slot="header">
                  <ion-label>LA NOSTRA</ion-label>
                </ion-item>
                <div class="ion-padding" slot="content">
                  <ion-card>
                    <img alt="Silhouette of mountains" src="../../assets/icon/lanostra.jpg" />
                    <ion-card-content>
                      <h2>DIRECCION</h2>
                      <p>Calle 6 # 18-08</p>
                      <br>
                      <h2>TELEFONO</h2>
                      <P>55650850</P>
                      <br>
                      <h2>HORARIO:</h2>
                      <h2>Domingo</h2>
                      <p>17:00 - 22:30</p>
                      <h2>Lunes</h2>
                      <p>17:00 - 22:30</p>
                      <h2>Martes</h2>
                      <p>17:00 - 22:30</p>
                      <h2>Miercoles</h2>
                      <p>17:00 - 22:30</p>
                      <h2>Jueves</h2>
                      <p>17:00 - 22:30</p>
                      <h2>Viernes</h2>
                      <p>17:00 - 22:30</p>
                      <h2>sábado</h2>
                      <p>17:00 - 22:30</p>
                    </ion-card-content>
                  </ion-card>
                </div>
              </ion-accordion>
            </ion-accordion-group>
          </div>
        </ion-accordion>
        <ion-accordion value="second">
          <ion-item slot="header" color="light">
            <ion-label>Restaurantes</ion-label>
          </ion-item>
          <div class="ion-padding" slot="content">
            <ion-accordion-group>
              <ion-accordion value="first">
                <ion-item slot="header">
                  <ion-label>LA BRASA</ion-label>
                </ion-item>
                <div class="ion-padding" slot="content">
                  <ion-card>
                    <img alt="Silhouette of mountains" src="../../assets/icon/Labrasa.jpg" />
                    <ion-card-content>
                      <h2>DIRECCION</h2>
                      <p>Carrera 40 Vía al Mar Entre Calle 3 y 4</p>
                      <br>
                      <h2>TELEFONO</h2>
                      <P>5654630</P>
                      <br>
                      <h2>HORARIO:</h2>
                      <h2>Domingo</h2>
                      <p>12:00 - 23:00</p>
                      <h2>Lunes</h2>
                      <p>12:00 - 23:00</p>
                      <h2>Martes</h2>
                      <p>12:00 - 23:00</p>
                      <h2>Miercoles</h2>
                      <p>12:00 - 23:00</p>
                      <h2>Jueves</h2>
                      <p>12:00 - 23:00</p>
                      <h2>Viernes</h2>
                      <p>12:00 - 23:00</p>
                      <h2>sábado</h2>
                      <p>12:00 - 23:00</p>
                    </ion-card-content>
                  </ion-card>
                </div>
              </ion-accordion>
              <ion-accordion value="second">
                <ion-item slot="header">
                  <ion-label>CARNIVORE RESTAURANT</ion-label>
                </ion-item>
                <div class="ion-padding" slot="content">
                  <ion-card>
                    <img alt="Silhouette of mountains" src="../../assets/icon/Carnivore.jpg" />
                    <ion-card-content>
                      <h2>DIRECCION</h2>
                      <p>Calle 1 #20-61 Esquina</p>
                      <br>
                      <h2>TELEFONO</h2>
                      <P>+57 317 2719912</P>
                      <br>
                      <h2>HORARIO:</h2>
                      <h2>Domingo</h2>
                      <p>10:00 - 22:00</p>
                      <h2>Lunes</h2>
                      <p>10:00 - 22:00</p>
                      <h2>Martes</h2>
                      <p>10:00 - 22:00</p>
                      <h2>Miercoles</h2>
                      <p>10:00 - 22:00</p>
                      <h2>Jueves</h2>
                      <p>10:00 - 22:00</p>
                      <h2>Viernes</h2>
                      <p>10:00 - 22:00</p>
                      <h2>sábado</h2>
                      <p>10:00 - 22:00</p>
                    </ion-card-content>
                  </ion-card>
                </div>
              </ion-accordion>
              <ion-accordion value="third">
                <ion-item slot="header">
                  <ion-label>LA TRAVIATA</ion-label>
                </ion-item>
                <div class="ion-padding" slot="content">
                  <ion-card>
                    <img alt="Silhouette of mountains" src="../../assets/icon/Latraviata.jpg" />
                    <ion-card-content>
                      <h2>DIRECCION</h2>
                      <p>Calle 10 # 29-48</p>
                      <br>
                      <h2>TELEFONO</h2>
                      <P>+57 300 6932059</P>
                      <br>
                      <h2>HORARIO:</h2>
                      <h2>Domingo</h2>
                      <p>11:00 - 22:00</p>
                      <h2>Lunes</h2>
                      <p>11:00 - 22:00</p>
                      <h2>Martes</h2>
                      <p>11:00 - 22:00</p>
                      <h2>Miercoles</h2>
                      <p>11:00 - 22:00</p>
                      <h2>Jueves</h2>
                      <p>11:00 - 22:00</p>
                      <h2>Viernes</h2>
                      <p>11:00 - 22:00</p>
                      <h2>sábado</h2>
                      <p>11:00 - 22:00</p>
                    </ion-card-content>
                  </ion-card>
                </div>
              </ion-accordion>
              <ion-accordion value="quarter">
                <ion-item slot="header">
                  <ion-label>PUB VENECIA</ion-label>
                </ion-item>
                <div class="ion-padding" slot="content">
                  <ion-card>
                    <img alt="Silhouette of mountains" src="../../assets/icon/Pubvenecia.jpg" />
                    <ion-card-content>
                      <h2>DIRECCION</h2>
                      <p>Carrera 21</p>
                      <br>
                      <h2>TELEFONO</h2>
                      <P>+57 316 8221980</P>
                      <br>
                      <h2>HORARIO:</h2>
                      <h2>Domingo</h2>
                      <p>5:00 - 22:00</p>
                      <h2>Lunes</h2>
                      <p>5:00 - 22:00</p>
                      <h2>Martes</h2>
                      <p>5:00 - 22:00</p>
                      <h2>Miercoles</h2>
                      <p>5:00 - 22:00</p>
                      <h2>Jueves</h2>
                      <p>5:00 - 22:00</p>
                      <h2>Viernes</h2>
                      <p>5:00 - 22:00</p>
                      <h2>sábado</h2>
                      <p>5:00 - 22:00</p>
                    </ion-card-content>
                  </ion-card>
                </div>
              </ion-accordion>
              <ion-accordion value="fifth">
                <ion-item slot="header">
                  <ion-label>EL ESTABLO</ion-label>
                </ion-item>
                <div class="ion-padding" slot="content">
                  <ion-card>
                    <img alt="Silhouette of mountains" src="../../assets/icon/Elestablo.jpg" />
                    <ion-card-content>
                      <h2>DIRECCION</h2>
                      <p>Carrera 40 # 8A-28</p>
                      <br>
                      <h2>TELEFONO</h2>
                      <P>+57 310 6647238</P>
                      <br>
                      <h2>HORARIO:</h2>
                      <h2>Domingo</h2>
                      <p>18:00 - 22:00</p>
                      <h2>Lunes</h2>
                      <p>18:00 - 22:00</p>
                      <h2>Martes</h2>
                      <p>18:00 - 22:00</p>
                      <h2>Miercoles</h2>
                      <p>18:00 - 22:00</p>
                      <h2>Jueves</h2>
                      <p>18:00 - 22:00</p>
                      <h2>Viernes</h2>
                      <p>18:00 - 22:00</p>
                      <h2>sábado</h2>
                      <p>18:00 - 22:00</p>
                    </ion-card-content>
                  </ion-card>
                </div>
              </ion-accordion>
              <ion-accordion value="sixth">
                <ion-item slot="header">
                  <ion-label>EL RANCHO</ion-label>
                </ion-item>
                <div class="ion-padding" slot="content">
                  <ion-card>
                    <img alt="Silhouette of mountains" src="../../assets/icon/Elrancho.jpg" />
                    <ion-card-content>
                      <h2>DIRECCION</h2>
                      <p>Carrera 21 # 4-47</p>
                      <br>
                      <h2>TELEFONO</h2>
                      <P>5650627</P>
                      <br>
                      <h2>HORARIO:</h2>
                      <h2>Domingo</h2>
                      <p>11:00 - 15:00</p>
                      <h2>Lunes</h2>
                      <p>11:00 - 15:00</p>
                      <h2>Martes</h2>
                      <p>11:00 - 15:00</p>
                      <h2>Miercoles</h2>
                      <p>11:00 - 15:00</p>
                      <h2>Jueves</h2>
                      <p>11:00 - 15:00</p>
                      <h2>Viernes</h2>
                      <p>11:00 - 15:00</p>
                      <h2>sábado</h2>
                      <p>11:00 - 15:00</p>
                    </ion-card-content>
                  </ion-card>
                </div>
              </ion-accordion>
              <ion-accordion value="seventh">
                <ion-item slot="header">
                  <ion-label>SUPER POLLO</ion-label>
                </ion-item>
                <div class="ion-padding" slot="content">
                  <ion-card>
                    <img alt="Silhouette of mountains" src="../../assets/icon/Superpollo.jpg" />
                    <ion-card-content>
                      <h2>DIRECCION</h2>
                      <p>Calle 5 #29-66</p>
                      <br>
                      <h2>TELEFONO</h2>
                      <P>5655000</P>
                      <br>
                      <h2>HORARIO:</h2>
                      <h2>Domingo</h2>
                      <p>10:00 - 21:00</p>
                      <h2>Lunes</h2>
                      <p>10:00 - 21:00</p>
                      <h2>Martes</h2>
                      <p>10:00 - 21:00</p>
                      <h2>Miercoles</h2>
                      <p>10:00 - 21:00</p>
                      <h2>Jueves</h2>
                      <p>10:00 - 21:00</p>
                      <h2>Viernes</h2>
                      <p>10:00 - 21:00</p>
                      <h2>sábado</h2>
                      <p>10:00 - 21:00</p>
                    </ion-card-content>
                  </ion-card>
                </div>
              </ion-accordion>
              <ion-accordion value="eigth">
                <ion-item slot="header">
                  <ion-label>CHINO JIAN LONG</ion-label>
                </ion-item>
                <div class="ion-padding" slot="content">
                  <ion-card>
                    <img alt="Silhouette of mountains" src="../../assets/icon/Chinojian.jpg" />
                    <ion-card-content>
                      <h2>DIRECCION</h2>
                      <p>Calle 6 # 18-72 esquina</p>
                      <br>
                      <h2>TELEFONO</h2>
                      <P>6055656562</P>
                      <br>
                      <h2>HORARIO:</h2>
                      <h2>Domingo</h2>
                      <p>10:00 - 21:00</p>
                      <h2>Lunes</h2>
                      <p>10:00 - 21:00</p>
                      <h2>Martes</h2>
                      <p>10:00 - 21:00</p>
                      <h2>Miercoles</h2>
                      <p>10:00 - 21:00</p>
                      <h2>Jueves</h2>
                      <p>10:00 - 21:00</p>
                      <h2>Viernes</h2>
                      <p>10:00 - 21:00</p>
                      <h2>sábado</h2>
                      <p>10:00 - 21:00</p>
                    </ion-card-content>
                  </ion-card>
                </div>
              </ion-accordion>
            </ion-accordion-group>
          </div>
        </ion-accordion>
        <ion-accordion value="third">
          <ion-item slot="header" color="light">
            <ion-label>Comidas Rapidas</ion-label>
          </ion-item>
          <div class="ion-padding" slot="content">
            <ion-accordion-group>
              <ion-accordion value="first">
                <ion-item slot="header">
                  <ion-label>CHILES FAST FOODS</ion-label>
                </ion-item>
                <div class="ion-padding" slot="content">
                  <ion-card>
                    <img alt="Silhouette of mountains" src="../../assets/icon/Chiles.jpg" />
                    <ion-card-content>
                      <h2>DIRECCION</h2>
                      <p>Calle 6 # 19-15</p>
                      <br>
                      <h2>TELEFONO</h2>
                      <P>+57 317 2678944</P>
                      <br>
                      <h2>HORARIO:</h2>
                      <h2>Domingo</h2>
                      <p>10:00 - 21:00</p>
                      <h2>Lunes</h2>
                      <p>10:00 - 21:00</p>
                      <h2>Martes</h2>
                      <p>10:00 - 21:00</p>
                      <h2>Miercoles</h2>
                      <p>10:00 - 21:00</p>
                      <h2>Jueves</h2>
                      <p>10:00 - 21:00</p>
                      <h2>Viernes</h2>
                      <p>10:00 - 21:00</p>
                      <h2>sábado</h2>
                      <p>10:00 - 21:00</p>
                    </ion-card-content>
                  </ion-card>
                </div>
              </ion-accordion>
              <ion-accordion value="second">
                <ion-item slot="header">
                  <ion-label>DONDE ALVARO</ion-label>
                </ion-item>
                <div class="ion-padding" slot="content">
                  <ion-card>
                    <img alt="Silhouette of mountains" src="../../assets/icon/Alvaro.jpg" />
                    <ion-card-content>
                      <h2>DIRECCION</h2>
                      <p>Calle 2 # 39-02</p>
                      <br>
                      <h2>TELEFONO</h2>
                      <P>+57 3188778683</P>
                      <br>
                      <h2>HORARIO:</h2>
                      <h2>Domingo</h2>
                      <p>17:30 - 23:30</p>
                      <h2>Lunes</h2>
                      <p>17:30 - 23:30</p>
                      <h2>Martes</h2>
                      <p>17:30 - 23:30</p>
                      <h2>Miercoles</h2>
                      <p>17:30 - 23:30</p>
                      <h2>Jueves</h2>
                      <p>17:30 - 23:30</p>
                      <h2>Viernes</h2>
                      <p>17:30 - 23:30</p>
                      <h2>sábado</h2>
                      <p>17:30 - 23:30</p>
                    </ion-card-content>
                  </ion-card>
                </div>
              </ion-accordion>
              <ion-accordion value="third">
                <ion-item slot="header">
                  <ion-label>LA CUÑADA</ion-label>
                </ion-item>
                <div class="ion-padding" slot="content">
                  <ion-card>
                    <img alt="Silhouette of mountains" src="../../assets/icon/Lacuñada.jpg" />
                    <ion-card-content>
                      <h2>DIRECCION</h2>
                      <p>calle 5 Cra 28 Esquina</p>
                      <br>
                      <h2>TELEFONO</h2>
                      <P>+57 311 867 4017</P>
                      <br>
                      <h2>HORARIO:</h2>
                      <h2>Domingo</h2>
                      <p>17:00 - 24:30</p>
                      <h2>Lunes</h2>
                      <p>17:00 - 24:30</p>
                      <h2>Martes</h2>
                      <p>17:00 - 24:30</p>
                      <h2>Miercoles</h2>
                      <p>17:00 - 24:30</p>
                      <h2>Jueves</h2>
                      <p>17:00 - 24:30</p>
                      <h2>Viernes</h2>
                      <p>17:00 - 24:30</p>
                      <h2>sábado</h2>
                      <p>17:00 - 24:30</p>
                    </ion-card-content>
                  </ion-card>
                </div>
              </ion-accordion>
              <ion-accordion value="quarter">
                <ion-item slot="header">
                  <ion-label>LA BUTCHERIA</ion-label>
                </ion-item>
                <div class="ion-padding" slot="content">
                  <ion-card>
                    <img alt="Silhouette of mountains" src="../../assets/icon/Labutcheria.jpg" />
                    <ion-card-content>
                      <h2>DIRECCION</h2>
                      <p>Calle 7 # 23-47</p>
                      <br>
                      <h2>TELEFONO</h2>
                      <P>+57 311 6060904</P>
                      <br>
                      <h2>HORARIO:</h2>
                      <h2>Domingo</h2>
                      <p>17:30 - 22:00</p>
                      <h2>Lunes</h2>
                      <p>17:30 - 22:00</p>
                      <h2>Martes</h2>
                      <p>17:30 - 22:00</p>
                      <h2>Miercoles</h2>
                      <p>17:30 - 22:00</p>
                      <h2>Jueves</h2>
                      <p>17:30 - 22:00</p>
                      <h2>Viernes</h2>
                      <p>17:30 - 22:00</p>
                      <h2>sábado</h2>
                      <p>17:30 - 22:00</p>
                    </ion-card-content>
                  </ion-card>
                </div>
              </ion-accordion>
              <ion-accordion value="fifth">
                <ion-item slot="header">
                  <ion-label>EL CHUZO DE JUAN</ion-label>
                </ion-item>
                <div class="ion-padding" slot="content">
                  <ion-card>
                    <img alt="Silhouette of mountains" src="../../assets/icon/EL-CHUZO-DE-JUAN.jpg" />
                    <ion-card-content>
                      <h2>DIRECCION</h2>
                      <p>Calle 6 # 19-1</p>
                      <br>
                      <h2>TELEFONO</h2>
                      <P>+57 302 3264114</P>
                      <br>
                      <h2>HORARIO:</h2>
                      <h2>Domingo</h2>
                      <p>17:30 - 22:00</p>
                      <h2>Lunes</h2>
                      <p>17:30 - 22:00</p>
                      <h2>Martes</h2>
                      <p>17:30 - 22:00</p>
                      <h2>Miercoles</h2>
                      <p>17:30 - 22:00</p>
                      <h2>Jueves</h2>
                      <p>17:30 - 22:00</p>
                      <h2>Viernes</h2>
                      <p>17:30 - 22:00</p>
                      <h2>sábado</h2>
                      <p>17:30 - 22:00</p>
                    </ion-card-content>
                  </ion-card>
                </div>
              </ion-accordion>
              <ion-accordion value="sixth">
                <ion-item slot="header">
                  <ion-label>HAMBURGUESAS DE BETO</ion-label>
                </ion-item>
                <div class="ion-padding" slot="content">
                  <ion-card>
                    <img alt="Silhouette of mountains" src="../../assets/icon/Hamburguesadebeto.jpg" />
                    <ion-card-content>
                      <h2>DIRECCION</h2>
                      <p>Calle 5 # 27 Bis 02</p>
                      <br>
                      <h2>TELEFONO</h2>
                      <P>5656014</P>
                      <br>
                      <h2>HORARIO:</h2>
                      <h2>Domingo</h2>
                      <p>16:00 - 23:00</p>
                      <h2>Lunes</h2>
                      <p>16:00 - 23:00</p>
                      <h2>Martes</h2>
                      <p>16:00 - 23:00</p>
                      <h2>Miercoles</h2>
                      <p>16:00 - 23:00</p>
                      <h2>Jueves</h2>
                      <p>16:00 - 23:00</p>
                      <h2>Viernes</h2>
                      <p>16:00 - 23:00</p>
                      <h2>sábado</h2>
                      <p>16:00 - 23:00</p>
                    </ion-card-content>
                  </ion-card>
                </div>
              </ion-accordion>
              <ion-accordion value="seventh">
                <ion-item slot="header">
                  <ion-label>LA TAVUEL HAMBURGUESERIA</ion-label>
                </ion-item>
                <div class="ion-padding" slot="content">
                  <ion-card>
                    <img alt="Silhouette of mountains" src="../../assets/icon/La-Tavuel-Hamburgueseria.jpg" />
                    <ion-card-content>
                      <h2>DIRECCION</h2>
                      <p>Carrera 23 #4-2 a 4-96</p>
                      <br>
                      <h2>TELEFONO</h2>
                      <P>TOCA BUSCARLO</P>
                      <br>
                      <h2>HORARIO:</h2>
                      <h2>Domingo</h2>
                      <p>17:30 - 23:00</p>
                      <h2>Lunes</h2>
                      <p>Cerrado</p>
                      <h2>Martes</h2>
                      <p>Cerrado</p>
                      <h2>Miercoles</h2>
                      <p>Cerrado</p>
                      <h2>Jueves</h2>
                      <p>17:30 - 23:00</p>
                      <h2>Viernes</h2>
                      <p>17:30 - 23:00</p>
                      <h2>sábado</h2>
                      <p>17:30 - 23:00</p>
                    </ion-card-content>
                  </ion-card>
                </div>
              </ion-accordion>
              <ion-accordion value="eighth">
                <ion-item slot="header">
                  <ion-label>ROLLING BURGUER</ion-label>
                </ion-item>
                <div class="ion-padding" slot="content">
                  <ion-card>
                    <img alt="Silhouette of mountains" src="../../assets/icon/Rolling.jpg" />
                    <ion-card-content>
                      <h2>DIRECCION</h2>
                      <p>Calle 5 #27-36 Local 2</p>
                      <br>
                      <h2>TELEFONO</h2>
                      <P>+57 300 8823364</P>
                      <br>
                      <h2>HORARIO:</h2>
                      <h2>Domingo</h2>
                      <p>17:00 - 23:00</p>
                      <h2>Lunes</h2>
                      <p>17:00 - 23:00</p>
                      <h2>Martes</h2>
                      <p>17:00 - 23:00</p>
                      <h2>Miercoles</h2>
                      <p>17:00 - 23:00</p>
                      <h2>Jueves</h2>
                      <p>17:00 - 23:00</p>
                      <h2>Viernes</h2>
                      <p>17:00 - 23:00</p>
                      <h2>sábado</h2>
                      <p>17:00 - 23:00</p>
                    </ion-card-content>
                  </ion-card>
                </div>
              </ion-accordion>
              <ion-accordion value="ninth">
                <ion-item slot="header">
                  <ion-label>EL CORRALAZO D'JUAN</ion-label>
                </ion-item>
                <div class="ion-padding" slot="content">
                  <ion-card>
                    <img alt="Silhouette of mountains" src="../../assets/icon/Corralazo.jpg" />
                    <ion-card-content>
                      <h2>DIRECCION</h2>
                      <p>Calle 10 Norte # 32a - 15</p>
                      <br>
                      <h2>TELEFONO</h2>
                      <P>+57 323 2074969</P>
                      <br>
                      <h2>HORARIO:</h2>
                      <h2>Domingo</h2>
                      <p>17:00 - 00:00</p>
                      <h2>Lunes</h2>
                      <p>17:00 - 00:00</p>
                      <h2>Martes</h2>
                      <p>17:00 - 00:00</p>
                      <h2>Miercoles</h2>
                      <p>17:00 - 00:00</p>
                      <h2>Jueves</h2>
                      <p>17:00 - 00:00</p>
                      <h2>Viernes</h2>
                      <p>17:00 - 00:00</p>
                      <h2>sábado</h2>
                      <p>17:00 - 00:00</p>
                    </ion-card-content>
                  </ion-card>
                </div>
              </ion-accordion>
            </ion-accordion-group>
          </div>
        </ion-accordion>
        <ion-accordion value="quarter">
          <ion-item slot="header" color="light">
            <ion-label>Heladerias</ion-label>
          </ion-item>
          <div class="ion-padding" slot="content">
            <ion-accordion-group>
              <ion-accordion value="first">
                <ion-item slot="header">
                  <ion-label>PUGGIN</ion-label>
                </ion-item>
                <div class="ion-padding" slot="content">
                  <ion-card>
                    <img alt="Silhouette of mountains" src="../../assets/icon/Puggin.jpg" />
                    <ion-card-content>
                      <h2>DIRECCION</h2>
                      <p>Calle 5 # 21-15</p>
                      <br>
                      <h2>TELEFONO</h2>
                      <P>+57 310 3624065</P>
                      <br>
                      <h2>HORARIO:</h2>
                      <h2>Domingo</h2>
                      <p>14:00 - 21:00</p>
                      <h2>Lunes</h2>
                      <p>Cerrado</p>
                      <h2>Martes</h2>
                      <p>17:00 - 00:00</p>
                      <h2>Miercoles</h2>
                      <p>14:00 - 21:00</p>
                      <h2>Jueves</h2>
                      <p>14:00 - 21:00</p>
                      <h2>Viernes</h2>
                      <p>14:00 - 21:00</p>
                      <h2>sábado</h2>
                      <p>14:00 - 21:00</p>
                    </ion-card-content>
                  </ion-card>
                </div>
              </ion-accordion>
              <ion-accordion value="second">
                <ion-item slot="header">
                  <ion-label>POPSY</ion-label>
                </ion-item>
                <div class="ion-padding" slot="content">
                  <ion-card>
                    <img alt="Silhouette of mountains" src="../../assets/icon/Popsy.jpg" />
                    <ion-card-content>
                      <h2>DIRECCION</h2>
                      <p>Calle 5 #21-71</p>
                      <br>
                      <h2>TELEFONO</h2>
                      <P>+57 314 4727220</P>
                      <br>
                      <h2>HORARIO:</h2>
                      <h2>Domingo</h2>
                      <p>14:00 - 21:00</p>
                      <h2>Lunes</h2>
                      <p>14:00 - 21:00</p>
                      <h2>Martes</h2>
                      <p>14:00 - 21:00</p>
                      <h2>Miercoles</h2>
                      <p>14:00 - 21:00</p>
                      <h2>Jueves</h2>
                      <p>14:00 - 21:00</p>
                      <h2>Viernes</h2>
                      <p>14:00 - 21:00</p>
                      <h2>sábado</h2>
                      <p>14:00 - 21:00</p>
                    </ion-card-content>
                  </ion-card>
                </div>
              </ion-accordion>
              <ion-accordion value="third">
                <ion-item slot="header">
                  <ion-label>ARRECIFE ICECREAM</ion-label>
                </ion-item>
                <div class="ion-padding" slot="content">
                  <ion-card>
                    <img alt="Silhouette of mountains" src="../../assets/icon/Arrecife.jpg" />
                    <ion-card-content>
                      <h2>DIRECCION</h2>
                      <p>Calle 5 # 20-19</p>
                      <br>
                      <h2>TELEFONO</h2>
                      <P>+57 312 7979515</P>
                      <br>
                      <h2>HORARIO:</h2>
                      <h2>Domingo</h2>
                      <p>14:00 - 21:50</p>
                      <h2>Lunes</h2>
                      <p>14:00 - 21:50</p>
                      <h2>Martes</h2>
                      <p>14:00 - 21:50</p>
                      <h2>Miercoles</h2>
                      <p>14:00 - 21:50</p>
                      <h2>Jueves</h2>
                      <p>14:00 - 21:50</p>
                      <h2>Viernes</h2>
                      <p>14:00 - 21:50</p>
                      <h2>sábado</h2>
                      <p>14:00 - 21:50</p>
                    </ion-card-content>
                  </ion-card>
                </div>
              </ion-accordion>
              <ion-accordion value="quarter">
                <ion-item slot="header">
                  <ion-label>A PEDIR DE BOCA</ion-label>
                </ion-item>
                <div class="ion-padding" slot="content">
                  <ion-card>
                    <img alt="Silhouette of mountains" src="../../assets/icon/Apedirdebocas.jpg" />
                    <ion-card-content>
                      <h2>DIRECCION</h2>
                      <p>Calle 3 # 8 - 25</p>
                      <br>
                      <h2>TELEFONO</h2>
                      <P>(5) 5653946</P>
                      <br>
                      <h2>HORARIO:</h2>
                      <h2>Domingo</h2>
                      <p>11:00 - 23:00</p>
                      <h2>Lunes</h2>
                      <p>11:00 - 23:00</p>
                      <h2>Martes</h2>
                      <p>11:00 - 23:00</p>
                      <h2>Miercoles</h2>
                      <p>11:00 - 23:00</p>
                      <h2>Jueves</h2>
                      <p>11:00 - 23:00</p>
                      <h2>Viernes</h2>
                      <p>11:00 - 23:00</p>
                      <h2>sábado</h2>
                      <p>11:00 - 23:00</p>
                    </ion-card-content>
                  </ion-card>
                </div>
              </ion-accordion>
              <ion-accordion value="fifth">
                <ion-item slot="header">
                  <ion-label>SORBETES Y JUGOS</ion-label>
                </ion-item>
                <div class="ion-padding" slot="content">
                  <ion-card>
                    <img alt="Silhouette of mountains" src="../../assets/icon/Sorbetesyjugos.jpg" />
                    <ion-card-content>
                      <h2>DIRECCION</h2>
                      <p>Calle 5 # 30 - 04</p>
                      <br>
                      <h2>TELEFONO</h2>
                      <P>+57 318 4248574</P>
                      <br>
                      <h2>HORARIO:</h2>
                      <h2>Domingo</h2>
                      <p>10:00 - 22:00</p>
                      <h2>Lunes</h2>
                      <p>10:00 - 22:00</p>
                      <h2>Martes</h2>
                      <p>10:00 - 22:00</p>
                      <h2>Miercoles</h2>
                      <p>10:00 - 22:00</p>
                      <h2>Jueves</h2>
                      <p>10:00 - 22:00</p>
                      <h2>Viernes</h2>
                      <p>10:00 - 22:00</p>
                      <h2>sábado</h2>
                      <p>10:00 - 22:00</p>
                    </ion-card-content>
                  </ion-card>
                </div>
              </ion-accordion>
            </ion-accordion-group>
          </div>
        </ion-accordion>
        <ion-accordion value="fifth">
          <ion-item slot="header" color="light">
            <ion-label>Licores y Bebidas</ion-label>
          </ion-item>
          <div class="ion-padding" slot="content">
            <ion-accordion-group>
              <ion-accordion value="first">
                <ion-item slot="header">
                  <ion-label>COYOTE UGLY 85</ion-label>
                </ion-item>
                <div class="ion-padding" slot="content">
                  <ion-card>
                    <img alt="Silhouette of mountains" src="../../assets/icon/Coyoteugly.jpg" />
                    <ion-card-content>
                      <h2>DIRECCION</h2>
                      <p>Calle 5 # 25 - 1</p>
                      <br>
                      <h2>TELEFONO</h2>
                      <P></P>
                      <br>
                      <h2>HORARIO:</h2>
                      <h2>Domingo</h2>
                      <p>18:00 - 01:00</p>
                      <h2>Lunes</h2>
                      <p>Cerrado</p>
                      <h2>Martes</h2>
                      <p>Cerrado</p>
                      <h2>Miercoles</h2>
                      <p>Cerrado</p>
                      <h2>Jueves</h2>
                      <p>Cerrado</p>
                      <h2>Viernes</h2>
                      <p>18:00 - 03:00</p>
                      <h2>sábado</h2>
                      <p>18:00 - 03:00</p>
                    </ion-card-content>
                  </ion-card>
                </div>
              </ion-accordion>
              <ion-accordion value="second">
                <ion-item slot="header">
                  <ion-label>ESTANCO MOES</ion-label>
                </ion-item>
                <div class="ion-padding" slot="content">
                  <ion-card>
                    <img alt="Silhouette of mountains" src="../../assets/icon/Estancomoes.png" />
                    <ion-card-content>
                      <h2>DIRECCION</h2>
                      <p>Calle 3 # 36 - 18</p>
                      <br>
                      <h2>TELEFONO</h2>
                      <P>+57 318 7829478</P>
                      <br>
                      <h2>HORARIO:</h2>
                      <h2>Domingo</h2>
                      <p>18:00 - 01:00</p>
                      <h2>Lunes</h2>
                      <p>Cerrado</p>
                      <h2>Martes</h2>
                      <p>Cerrado</p>
                      <h2>Miercoles</h2>
                      <p>Cerrado</p>
                      <h2>Jueves</h2>
                      <p>Cerrado</p>
                      <h2>Viernes</h2>
                      <p>18:00 - 03:00</p>
                      <h2>sábado</h2>
                      <p>18:00 - 03:00</p>
                    </ion-card-content>
                  </ion-card>
                </div>
              </ion-accordion>
              <ion-accordion value="third">
                <ion-item slot="header">
                  <ion-label>DELUXE</ion-label>
                </ion-item>
                <div class="ion-padding" slot="content">
                  <ion-card>
                    <img alt="Silhouette of mountains" src="../../assets/icon/Deluxe.jpg" />
                    <ion-card-content>
                      <h2>DIRECCION</h2>
                      <p>Calle 5 # 21 - 71</p>
                      <br>
                      <h2>TELEFONO</h2>
                      <P>+57 300 2465663</P>
                      <br>
                      <h2>HORARIO:</h2>
                      <h2>Domingo</h2>
                      <p>18:00 - 01:00</p>
                      <h2>Lunes</h2>
                      <p>Cerrado</p>
                      <h2>Martes</h2>
                      <p>Cerrado</p>
                      <h2>Miercoles</h2>
                      <p>18:00 - 01:00</p>
                      <h2>Jueves</h2>
                      <p>18:00 - 01:00</p>
                      <h2>Viernes</h2>
                      <p>18:00 - 03:00</p>
                      <h2>sábado</h2>
                      <p>18:00 - 03:00</p>
                    </ion-card-content>
                  </ion-card>
                </div>
              </ion-accordion>
              <ion-accordion value="quarter">
                <ion-item slot="header">
                  <ion-label>MERAKI CAFE BAR</ion-label>
                </ion-item>
                <div class="ion-padding" slot="content">
                  <ion-card>
                    <img alt="Silhouette of mountains" src="../../assets/icon/Meraki.jpg" />
                    <ion-card-content>
                      <h2>DIRECCION</h2>
                      <p>Calle 3 # 15 - 23</p>
                      <br>
                      <h2>TELEFONO</h2>
                      <P>+57 314 5345503</P>
                      <br>
                      <h2>HORARIO:</h2>
                      <h2>Domingo</h2>
                      <p>18:00 - 01:00</p>
                      <h2>Lunes</h2>
                      <p>Cerrado</p>
                      <h2>Martes</h2>
                      <p>Cerrado</p>
                      <h2>Miercoles</h2>
                      <p>18:00 - 01:00</p>
                      <h2>Jueves</h2>
                      <p>18:00 - 01:00</p>
                      <h2>Viernes</h2>
                      <p>18:00 - 03:00</p>
                      <h2>sábado</h2>
                      <p>18:00 - 03:00</p>
                    </ion-card-content>
                  </ion-card>
                </div>
              </ion-accordion>
              <ion-accordion value="fifth">
                <ion-item slot="header">
                  <ion-label>JUGLARES BAR</ion-label>
                </ion-item>
                <div class="ion-padding" slot="content">
                  <ion-card>
                    <img alt="Silhouette of mountains" src="../../assets/icon/Juglares.jpg" />
                    <ion-card-content>
                      <h2>DIRECCION</h2>
                      <p>Calle 5 # 29 - 52</p>
                      <br>
                      <h2>TELEFONO</h2>
                      <P>+57 313 4817839</P>
                      <br>
                      <h2>HORARIO:</h2>
                      <h2>Domingo</h2>
                      <p>18:00 - 01:00</p>
                      <h2>Lunes</h2>
                      <p>Cerrado</p>
                      <h2>Martes</h2>
                      <p>Cerrado</p>
                      <h2>Miercoles</h2>
                      <p>18:00 - 01:00</p>
                      <h2>Jueves</h2>
                      <p>18:00 - 01:00</p>
                      <h2>Viernes</h2>
                      <p>18:00 - 03:00</p>
                      <h2>sábado</h2>
                      <p>18:00 - 03:00</p>
                    </ion-card-content>
                  </ion-card>
                </div>
              </ion-accordion>
              <ion-accordion value="sixth">
                <ion-item slot="header">
                  <ion-label>COYOTE LICORES</ion-label>
                </ion-item>
                <div class="ion-padding" slot="content">
                  <ion-card>
                    <img alt="Silhouette of mountains" src="../../assets/icon/Coyotelicores.jpg" />
                    <ion-card-content>
                      <h2>DIRECCION</h2>
                      <p>Calle 5 # 18 - 19</p>
                      <br>
                      <h2>TELEFONO</h2>
                      <P>+57 310 623 34 16</P>
                      <br>
                      <h2>HORARIO:</h2>
                      <h2>Domingo</h2>
                      <p>10:00 - 01:00</p>
                      <h2>Lunes</h2>
                      <p>14:00 - 01:00</p>
                      <h2>Martes</h2>
                      <p>14:00 - 01:00</p>
                      <h2>Miercoles</h2>
                      <p>14:00 - 01:00</p>
                      <h2>Jueves</h2>
                      <p>14:00 - 01:00</p>
                      <h2>Viernes</h2>
                      <p>14:00 - 03:00</p>
                      <h2>sábado</h2>
                      <p>14:00 - 03:00</p>
                    </ion-card-content>
                  </ion-card>
                </div>
              </ion-accordion>
            </ion-accordion-group>
          </div>
        </ion-accordion>
      </ion-accordion-group>
    </ion-card>
  </ion-content>
</div>