<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Inicio</ion-title>
    <ion-button size="small" slot="end" tab="formulario" href="formulario">Solicitud</ion-button>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card>
    <img alt="Silhouette of mountains" src="../../assets/icon/imagen-2.png" />
    <ion-card-header>
      <ion-card-title>AGUACHICA CESAR</ion-card-title>
      <ion-card-subtitle>DIRECTORIO</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      Aguachica es un municipio del departamento de Cesar, Colombia, ubicado entre el valle interandino del Magdalena
      Medio y la Serranía de los Motilones. Es el segundo municipio más poblado del departamento e importante centro
      ganadero y comercial del suroriente del Caribe colombiano.
      <br>
      Aguachica está ubicada al Sur del Departamento del Cesar, a los 8º18'45'' de latitud Norte y 73º37'37'' de
      longitud Oeste del meridiano de Greenwich, entre la cordillera Oriental y el valle del Rio Magdalena, a una
      distancia de 301 Kilometros de Valledupar, la capital del Cesar.
      <br>
      Su extensión territorial es de 876.26
      Kilometros cuadrados que ocupa el 3.8% de la superficie del Departamento.
      Limita por el norte con el municipio de la Gloria (Cesar), El Carmen (Norte de Santander), por el este con Rio
      de Oro (Cesar), por el sur con Rio de Oro, San Martin (Cesar) Y Puerto Wilches (Santander), por el oeste con
      Gamarra (Cesar) y Morales (Bolivar).
    </ion-card-content>
  </ion-card>
</ion-content>
