<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Lugares Interes</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <ion-accordion-group>
      <ion-accordion value="first">
        <ion-item slot="header" color="light">
          <ion-label>Alcaldia</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">
          <ion-card>
            <img alt="Silhouette of mountains" src="../../assets/icon/Alcaldia.jpg" />
            <ion-card-content>TELEFONO: 55651771</ion-card-content>
            <ion-card-content>CORREO: ALCALDIA@AGUACHICA-CESAR.GOV.CO.</ion-card-content>
            <ion-card-content>DIRECCION: CALLE 4 No 10-33</ion-card-content>
          </ion-card>
        </div>
        <div class="ion-padding" slot="content">
          <h1>PRINCIPALES SECRETARIAS</h1>
        </div>
        <div class="ion-padding" slot="content">
          <h2>Secretaría de Gobierno</h2>
          <b>Datos de interés:</b> Horarios de atención al público, ubicación de oficinas, y contactos de
          emergencia.
        </div>
        <div class="ion-padding" slot="content">
          <h2>Secretaría de Hacienda</h2>
          <b>Datos de interés:</b> Información sobre impuestos locales, fechas de vencimiento, y formas de pago.
        </div>
        <div class="ion-padding" slot="content">
          <h2>Secretaría de Planeación</h2>
          <b>Datos de interés:</b> Proyectos de desarrollo en curso, consultas públicas sobre planificación urbana, y
          documentos de planificación disponibles.
        </div>
        <div class="ion-padding" slot="content">
          <h2>Secretaría de Cultura y Deporte</h2>
          <b>Datos de interés:</b> Calendario de eventos culturales y deportivos, inscripciones a actividades
          recreativas, y ubicación de centros culturales.
        </div>
        <div class="ion-padding" slot="content">
          <h2>Secretaría de Salud</h2>
          <b>Datos de interés:</b> Horarios de atención médica, servicios disponibles, y campañas de salud pública.
        </div>
        <div class="ion-padding" slot="content">
          <h2>Secretaría de Tránsito y Transporte</h2>
          <b>Datos de interés:</b> Requisitos para obtener licencias de conducir, información sobre rutas de
          transporte público, y reglamentaciones de tráfico.
        </div>
      </ion-accordion>
      <ion-accordion value="second">
        <ion-item slot="header" color="light">
          <ion-label>Camara Comercio</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">
          <ion-card>
            <img alt="Silhouette of mountains" src="../../assets/icon/camara.jpg" />
            <ion-card-content>TELEFONO: +57 316 0233043</ion-card-content>
            <ion-card-content>CORREO: ccaguachica@camaraaguachica.org.co</ion-card-content>
            <ion-card-content>DIRECCION: Carrera 14 No 6-74</ion-card-content>
          </ion-card>
        </div>
        <div class="ion-padding" slot="content">
          <h1>PRINCIPALES SECRETARIAS</h1>
        </div>
        <div class="ion-padding" slot="content">
          <h2>Operaciones</h2>
        </div>
        <div class="ion-padding" slot="content">
          <h2>Prevención de incendios</h2>
        </div>
        <div class="ion-padding" slot="content">
          <h2>Capacitación</h2>
        </div>
      </ion-accordion>
      <ion-accordion value="third">
        <ion-item slot="header" color="light">
          <ion-label>Bomberos</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">
          <ion-card>
            <img alt="Silhouette of mountains" src="../../assets/icon/BOMBEROS.jpg" />
            <ion-card-content>TELEFONO: +57 3228662944</ion-card-content>
            <ion-card-content>CORREO: dnbemergencias@gmail.com</ion-card-content>
            <ion-card-content>DIRECCION: Calle 11 No 11-53</ion-card-content>
          </ion-card>
        </div>
        <div class="ion-padding" slot="content">
          <h1>PRINCIPALES SECRETARIAS</h1>
        </div>
        <div class="ion-padding" slot="content">
          <h2>Operaciones</h2>
        </div>
        <div class="ion-padding" slot="content">
          <h2>Prevención de incendios</h2>
        </div>
        <div class="ion-padding" slot="content">
          <h2>Capacitación</h2>
        </div>
      </ion-accordion>
      <ion-accordion value="quarter">
        <ion-item slot="header" color="light">
          <ion-label>Policia</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">
          <ion-card>
            <img alt="Silhouette of mountains" src="../../assets/icon/policia_aguachica.jpg" />
            <ion-card-content>TELEFONO: (605) 5659549 - 3163311305</ion-card-content>
            <ion-card-content>CORREO: desan.espri-agu@policia.gov.co</ion-card-content>
            <ion-card-content>DIRECCION: Calle 3 No 33-34</ion-card-content>
          </ion-card>
        </div>

        <div class="ion-padding" slot="content">
          <h1>PRINCIPALES SECRETARIAS</h1>
        </div>

        <div class="ion-padding" slot="content">
          <h2>Secretaría de Salud y Protección Social</h2>
          <b>Datos de interes:</b> Esta secretaría puede proporcionar datos de cobertura de salud,
          incluyendo excepciones para las Fuerzas Militares y la Policía Nacional. Puedes contactar a la Secretaría de
          Salud y Protección Social del municipio de Aguachica, Cesar para obtener más información.
        </div>
        <div class="ion-padding" slot="content">
          <h2>Secretaría de Gobierno</h2>
          <b>Datos de interes:</b> La Secretaría de Gobierno puede tener información sobre las instalaciones de la
          Policía en Aguachica , Cesar, incluyendo condiciones de seguridad y mejoras en las estaciones de Policía.
          Puedes comunicarte con la Secretaría de Gobierno del municipio para obtener detalles específicos.
        </div>
        <div class="ion-padding" slot="content">
          <h2>Secretaría de Transparencia y Control Disciplinario</h2>
          <b>Datos de interes:</b> La Secretaría de Gobierno puede tener información sobre las instalaciones de la
          Esta secretaría puede tener datos relacionados con casos
          de corrupción registrados en Aguachica, Cesar. Puedes consultar con la Secretaría de Transparencia y Control
          Disciplinario para obtener información sobre los hechos de corrupción en la localidad.
        </div>
      </ion-accordion>
    </ion-accordion-group>
  </ion-content>
</ion-menu>
<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Menu</ion-title>
      <ion-button size="small" slot="end" tab="form" href="formulario">Solicitud</ion-button>
      <ion-badge color="danger" slot="end">1000</ion-badge>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-card>
      <ion-accordion-group>
        <ion-accordion value="first">
          <ion-item slot="header" color="light">
            <ion-label>CASINO ROYAL CARIBE</ion-label>
          </ion-item>
          <div class="ion-padding" slot="content">
            <ion-card>
              <img alt="Silhouette of mountains" src="../../assets/icon/Royalrecepcion.jpg" />
              <img alt="Silhouette of mountains" src="../../assets/icon/Royalhabitacion.jpg" />
              <ion-card-content>
                DIRECCION: Calle 3 # 15-58 Local 1
              </ion-card-content>
              <ion-card-content>
                TELEFONO: +57 3228662944
              </ion-card-content>
              <ion-card-content>
                PRECIO: Desde $55.000
              </ion-card-content>
            </ion-card>
          </div>
        </ion-accordion>
        <ion-accordion value="Second">
          <ion-item slot="header" color="light">
            <ion-label>PRADO COUNTRY</ion-label>
          </ion-item>
          <div class="ion-padding" slot="content">
            <ion-card>
              <img alt="Silhouette of mountains" src="../../assets/icon/Pradoafuera.jpg" />
              <img alt="Silhouette of mountains" src="../../assets/icon/Pradorecepcion.jpg" />
              <img alt="Silhouette of mountains" src="../../assets/icon/Pradohabitacion.jpg" />
              <ion-card-content>
                DIRECCION: Carrera 30
              </ion-card-content>
              <ion-card-content>
                PRECIO: Desde $110.000
              </ion-card-content>
            </ion-card>
          </div>
        </ion-accordion>
        <ion-accordion value="third">
          <ion-item slot="header" color="light">
            <ion-label>SAGRADO</ion-label>
          </ion-item>
          <div class="ion-padding" slot="content">
            <ion-card>
              <img alt="Silhouette of mountains" src="../../assets/icon/Sagradoafuera.jpg" />
              <img alt="Silhouette of mountains" src="../../assets/icon/Sagradorecepcion.jpg" />
              <img alt="Silhouette of mountains" src="../../assets/icon/Sagradohabitacion.jpg" />
              <ion-card-content>
                DIRECCION: Carrera 49 #9 Norte-75, Aguachica 205010
              </ion-card-content>
              <ion-card-content>
                PRECIO: Desde $92.000
              </ion-card-content>
            </ion-card>
          </div>
        </ion-accordion>
        <ion-accordion value="quarter">
          <ion-item slot="header" color="light">
            <ion-label>LOS ESTORAQUES</ion-label>
          </ion-item>
          <div class="ion-padding" slot="content">
            <ion-card>
              <img alt="Silhouette of mountains" src="../../assets/icon/Estoraquesafuera.jpg" />
              <img alt="Silhouette of mountains" src="../../assets/icon/Estoraquesrecepcion.jpg" />
              <img alt="Silhouette of mountains" src="../../assets/icon/Estoraqueshabitacion.jpg" />
              <ion-card-content>
                DIRECCION: Calle 5 # 38 - 49
              </ion-card-content>
              <ion-card-content>
                PRECIO: Desde $68.000
              </ion-card-content>
            </ion-card>
          </div>
        </ion-accordion>
        <ion-accordion value="fifth">
          <ion-item slot="header" color="light">
            <ion-label>ALMALU</ion-label>
          </ion-item>
          <div class="ion-padding" slot="content">
            <ion-card>
              <img alt="Silhouette of mountains" src="../../assets/icon/Almaluafuera.jpg" />
              <img alt="Silhouette of mountains" src="../../assets/icon/Almalurecepcion.jpg" />
              <img alt="Silhouette of mountains" src="../../assets/icon/Almaluhabitacion.jpg" />
              <ion-card-content>
                DIRECCION: Calle 5 # 9 - 28 Edificio Walter fierro
              </ion-card-content>
              <ion-card-content>
                PRECIO: Desde $68.000
              </ion-card-content>
            </ion-card>
          </div>
        </ion-accordion>
        <ion-accordion value="sixth">
          <ion-item slot="header" color="light">
            <ion-label>EL SOL LA 27</ion-label>
          </ion-item>
          <div class="ion-padding" slot="content">
            <ion-card>
              <img alt="Silhouette of mountains" src="../../assets/icon/Elsolafuera.jpg" />
              <img alt="Silhouette of mountains" src="../../assets/icon/Elsolhabitacion.jpg" />
              <img alt="Silhouette of mountains" src="../../assets/icon/Elsolhabitacion2.jpg" />
              <ion-card-content>
                DIRECCION: Carrera 27A # 6 - 40
              </ion-card-content>
              <ion-card-content>
                PRECIO: Desde $50.000
              </ion-card-content>
            </ion-card>
          </div>
        </ion-accordion>
        <ion-accordion value="seventh">
          <ion-item slot="header" color="light">
            <ion-label>EL MORROCOY</ion-label>
          </ion-item>
          <div class="ion-padding" slot="content">
            <ion-card>
              <img alt="Silhouette of mountains" src="../../assets/icon/Morrocoyafuera.jpg" />
              <img alt="Silhouette of mountains" src="../../assets/icon/Morrocoyrecepcion.jpg" />
              <img alt="Silhouette of mountains" src="../../assets/icon/Morrocoyhabitacion.jpg" />
              <ion-card-content>
                DIRECCION: Calle 5 # 34 - 53
              </ion-card-content>
              <ion-card-content>
                TELEFONO: +57 314 5470372
              </ion-card-content>
              <ion-card-content>
                PRECIO: Desde $90.000
              </ion-card-content>
            </ion-card>
          </div>
        </ion-accordion>
        <ion-accordion value="eigth">
          <ion-item slot="header" color="light">
            <ion-label>D' LEON</ion-label>
          </ion-item>
          <div class="ion-padding" slot="content">
            <ion-card>
              <img alt="Silhouette of mountains" src="../../assets/icon/Leonafuera.jpg" />
              <img alt="Silhouette of mountains" src="../../assets/icon/Leonrecepcion.jpg" />
              <img alt="Silhouette of mountains" src="../../assets/icon/Leonhabitacion.jpg" />
              <ion-card-content>
                DIRECCION: Carrera 30 # 5 - 21 y 5- 36
              </ion-card-content>
              <ion-card-content>
                PRECIO: Desde $110.000
              </ion-card-content>
            </ion-card>
          </div>
        </ion-accordion>
        <ion-accordion value="ninth">
          <ion-item slot="header" color="light">
            <ion-label>MAYLIN</ion-label>
          </ion-item>
          <div class="ion-padding" slot="content">
            <ion-card>
              <img alt="Silhouette of mountains" src="../../assets/icon/Mayilinafuera.jpg" />
              <img alt="Silhouette of mountains" src="../../assets/icon/Maylinrecepcion.jpg" />
              <img alt="Silhouette of mountains" src="../../assets/icon/Maylinhabitacion.jpg" />
              <ion-card-content>
                DIRECCION: Carrera 10 # 7 - 02 Esquina
              </ion-card-content>
              <ion-card-content>
                PRECIO: Desde $70.000
              </ion-card-content>
            </ion-card>
          </div>
        </ion-accordion>
        <ion-accordion value="tenth">
          <ion-item slot="header" color="light">
            <ion-label>MANSION ESTELAR</ion-label>
          </ion-item>
          <div class="ion-padding" slot="content">
            <ion-card>
              <img alt="Silhouette of mountains" src="../../assets/icon/Mansionafuera.jpg" />
              <img alt="Silhouette of mountains" src="../../assets/icon/Mansionhabitacion.jpg" />
              <img alt="Silhouette of mountains" src="../../assets/icon/Mansionhabitacion2.jpg" />
              <ion-card-content>
                DIRECCION: Calle 3 No. 16 - 53
              </ion-card-content>
              <ion-card-content>
                PRECIO: Desde $75.000
              </ion-card-content>
            </ion-card>
          </div>
        </ion-accordion>
        <ion-accordion value="eleven">
          <ion-item slot="header" color="light">
            <ion-label>W PLAZA</ion-label>
          </ion-item>
          <div class="ion-padding" slot="content">
            <ion-card>
              <img alt="Silhouette of mountains" src="../../assets/icon/Wplazaafuera.jpg" />
              <img alt="Silhouette of mountains" src="../../assets/icon/Wplazarecepcion.jpg" />
              <img alt="Silhouette of mountains" src="../../assets/icon/Wplazahabitacion.jpg" />
              <ion-card-content>
                DIRECCION: Calle 3 # 15 - 18
              </ion-card-content>
              <ion-card-content>
                TELEFONO: +57 312 8451578
              </ion-card-content>
              <ion-card-content>
                PRECIO: Desde $80.000
              </ion-card-content>
            </ion-card>
          </div>
        </ion-accordion>
        <ion-accordion value="twelve">
          <ion-item slot="header" color="light">
            <ion-label>POSADA DON JOSE</ion-label>
          </ion-item>
          <div class="ion-padding" slot="content">
            <ion-card>
              <img alt="Silhouette of mountains" src="../../assets/icon/Donjoseafuera.jpg" />
              <img alt="Silhouette of mountains" src="../../assets/icon/Donjoserecepcion.jpg" />
              <img alt="Silhouette of mountains" src="../../assets/icon/Donjosehabitacion.jpg" />
              <ion-card-content>
                DIRECCION: Carrera 18 # 5 - 54
              </ion-card-content>
              <ion-card-content>
                PRECIO: Desde $60.000
              </ion-card-content>
            </ion-card>
          </div>
        </ion-accordion>
        <ion-accordion value="thirteen">
          <ion-item slot="header" color="light">
            <ion-label>IMPERIAL LA QUINTA</ion-label>
          </ion-item>
          <div class="ion-padding" slot="content">
            <ion-card>
              <img alt="Silhouette of mountains" src="../../assets/icon/Imperialafuera.jpeg" />
              <img alt="Silhouette of mountains" src="../../assets/icon/Imperialrecepcion.jpeg" />
              <img alt="Silhouette of mountains" src="../../assets/icon/Imperialhabitacion.jpg" />
              <ion-card-content>
                DIRECCION: Calle 5 # 38 -25
              </ion-card-content>
              <ion-card-content>
                PRECIO: Desde $60.000
              </ion-card-content>
            </ion-card>
          </div>
        </ion-accordion>
      </ion-accordion-group>
    </ion-card>
  </ion-content>
</div>